<%= render "static_files/top_nav" %>
<div class="all_created_events">
<div>
<h3>
You can view your created events here. 
Select a event to edit event details.
</h3>
</div>
<div class="created_event">
<% @created_events.each do |event| %>
    <div class="center_alignment">
    <div>
    Name: <%= event.name %>
    </div>
    <div>
    Description: <%= event.description %>
    </div>
    <div>
    <%= link_to "Edit", edit_event_path(event) %>  
    </div>
    <div>
    <%= button_to "Delete", event_path(event), method: :delete %>
    </div>
    </div>
    <% end %> 
</div>
</div>

</div>
<%= render "static_files/bottom_nav" %>