<div class="default_layout">
  <%= render "static_files/bottom_nav" %>
<div>
<%= render "static_files/top_nav" %>
<div class="main_container">
<div>
<h3 class="title">
You can view your created events here. 
Select a event to edit event details.
</h3>
</div>
<% if @created_events.empty? %>
  <div class="center_alignment">
    No events created!
  </div> 
<% else %>
<div class="main_home_container">
  <% @created_events.each do |event| %>
        <div class="all_events_container">
          <div>
            <%= link_to "Edit", edit_event_path(event) %>
          </div>
          <div class="event_title_name">
            <h3>
              Status
            </h3>
            Public
          </div>
          <div>
            <h3>
              Name 
            </h3>
            <%= event.name %>
          </div>
            <div>
              <h3>
                Start time
              </h3>
              <div> 
                <%= event.event_date.to_datetime.strftime('%m-%d-%y') %>
              </div>
              <div>
                <h3>
                  End time 
                </h3>
                <%= event.event_date.to_datetime.strftime('%r') %>
              </div>
            </div>
        </div>
  <% end %> 
<% end %>
</div>
</div>
</div>