<%= render "static_files/top_nav" %>
<div class="main_container">
<div class="event_options">
  <% if user_signed_in? %>
    <div class="link_style">
      <%= link_to "create new event", url = "events/new" %> 
    </div>
  <% end %>
    <% if user_signed_in? %>
      <div class="link_style">
        <%= link_to "View registered events", url = 'events/attended_events' %>
      </div>
      <div class="link_style">
        <%= link_to "View created events", url = 'events/created_events' %>
      </div>
    <% end %>
  </div>
<div class="main_home_container">
<% if @future_events.empty? %>
<p>
No future events found! Why not start a party and create your own! <%= link_to "create new event", url = "events/new" %> 
</p>
<% else %>
<% @future_events.each do |event| %>
  <div>
  <% if event.event_option.private == false %>
  <div class="all_events_container">
    Public event: <%= event.name %>
    Event date: <%= event.event_date.to_datetime.strftime('%y-%m-%d-%r') %>
    </end>
    <% else %>
    Private event: <%= event.name %>
    Event date: <%= event.event_date.to_datetime.strftime('%y-%m-%d-%r') %>
    <% end %>
    </div>
    <% end %>
<% end %>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<%= render "static_files/bottom_nav" %>