<%= render "static_files/top_nav" %>
<div class="main_body_container">
<% if user_signed_in? %>
<%= link_to "create new event", url = "events/new" %> 
<% end %>
<%= link_to "Click here to view all events", url = "events/all_events" %>
<div class="all_events_container" >
<div>
future events
<% @future_events.each do |event| %>
    <%= event.name %>
    <% end %>
</div>
<div>
    past events 
<% @past_events.each do |event| %>
  <%= event.name %>
    <% end %>
  </div>
  </div>
  <div>
    <% if user_signed_in? %>
<%= link_to "View registered events", url = 'events/attended_events' %>
<% else %>
Sign in to view all your event information:
<%= link_to "Log in", new_user_session_path %>
</div>
</div>

<% end %>
</div>
<%= render "static_files/bottom_nav" %>