<div class="default_layout">
  <%= render "static_files/bottom_nav" %>
<div>
  <%= render "static_files/top_nav" %>
  <div id="side_bar">
  </div>
<div class="main_container">
<div class="event_options">
  <% if user_signed_in? %>
    <div class="link_style">
      <%= link_to "create new event", url = "events/new" %> 
    </div>
  <% end %>
    <% if user_signed_in? %>
      <div class="link_style">
        <%= link_to "View registered events", url = 'events/attended_events' %>
      </div>
      <div class="link_style">
        <%= link_to "View created events", url = 'events/created_events' %>
      </div>
    <% end %>
  </div>
  <h2 class="slide_in_header">
Featured Events
</h2>
<div class="main_home_container">
<% if @future_events.empty? %>
<p>
No future events found! Why not start a party and create your own! <%= link_to "create new event", url = "events/new" %> 
</p>
<% else %>
<% @future_events.each do |event| %>
  <div>
  <% if event.event_option.private == false %>
  <div class="all_events_container">
    <div>
      Public event: <%= event.name %>
    </div>
    <div>
      Starts at: <%= event.event_date.to_datetime.strftime('%m-%d-%y %r') %>
    </div>
    <div>
      Ends at <%= event.event_end_date.to_datetime.strftime('%y-%m-%d-%r') %>
    </div>
    <% if current_user.nil? %>
      <div>
        Log in to sign up!
      </div>
    <% else %>
      <% if event.attendees.where("email = ?", current_user.email).empty? %>
        <div>
          <%= button_to "Sign Up", new_event_attendee_path, params: { attendee_id: current_user, event_id: event.id } %>
        </div>
      <% else %>
        <div>
          You already signed up!
        </div>
      <% end %>
    <% end %>
    <div data-controller="drop-down">
      <div data-action="click->drop-down#reveal" class="description_button">
        Description ⬇
      <div class="description">
        <%= event.description %>
      </div>
      </div>
    </div>

    <% else %>
    <div class="all_events_container">
    <div>
      Private event: <%= event.name %>
    </div>
    <div>
     Starts at <%= event.event_date.to_datetime.strftime('%y-%m-%d-%r') %>
    </div>
    <div>
      Ends at <%= event.event_end_date.to_datetime.strftime('%y-%m-%d-%r') %>
    </div>
    <% if current_user.nil? %>]
      <div>
        Log in to sign up!
      </div>
    <% else %>
      <div>
        Not currently accepting sign ups!
      </div>
    <% end %>
    <div data-controller="drop-down" data-action="click->drop-down#reveal">
      <div data-action="click->drop-down#reveal" class="description_button">
        Description ⬇
      <div class="description">
        <%= event.description %>
      </div>
      </div>
    </div>
    </div>
    <% end %>
    </div>
    </div>
    <% end %>
<% end %>
</div>
</div>
</div>
</div>