<%= render "static_files/top_nav" %>
<div class="main_body_container">
  <div class="new_event_container">
<%= form_with model: @event do |form| %>
    <div>
    <%= form.label :name, "Name:" %>
    <%= form.text_field :name %>
    </div>
    <div class="event_choice">
    <%= form.label :description, "Description:" %>
    <%= form.text_field :description %>
    </div>
    <div class="event_choice">
    <%= form.label :event_date, "Event date:" %>
    <%= form.datetime_field :event_date %>
    </div>
    <div class="event_choice">
    <%= form.label :event_end_date, "Event end date:" %>
    <%= form.datetime_field :event_end_date %>
    </div>
    <div class="event_choice">
    <%= form.fields_for :event_tags do |tag_form| %>
    Please note each hashtag must start with `#`,
    <%= tag_form.label :name, "Hashtags:" %>
    <%= tag_form.text_field :name %>
    <% end %>
    </div>
    <div class="event_choice">
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.fields_for :event_options do |option_form| %>
        Guest count: <%= option_form.number_field :maximum_guests, in: 1..10000 %>
    </div>
    <div class="event_choice">
        Public status:
        <%= option_form.radio_button(:private, true) %>
        <%= label_tag(:private?, "Private.") %>
        <%= option_form.radio_button(:private,false) %>
        <%= label_tag(:private, "Public.") %>
    </div>
    <div class="event_choice">
        Event consistency:
        <%= option_form.radio_button(:reoccuring, true) %>
        <%= label_tag(:reoccuring?, "Reoccuring.") %>
        <%= option_form.radio_button(:reoccuring, false) %>
        <%= label_tag(:reoccuring?, "Non-reoccuring.") %>
    </div>
        <%= form.hidden_field :event_id, value: "#{@event_id}" %> 
        <% end %>
    <div class="event_choice">    
      <%= form.submit %>
    </div>
      <% end %>
    </div>
</div>
    <%= render "static_files/bottom_nav" %>