<div class="bottom_nav_bar">
    <div class="title">
      <h2>
        <div>
          Private
        </div>
        <div>
          Events
        </div>
      </h2>
    </div>
    <div class="side_panel_alignment">
      <div>
        <div class="side_panel">
          <div class="panel_link">
            <%= link_to "Featured events", url = '/' %>
          </div>
          <div class="panel_link">
            <% if current_user.nil? %>
              <%= link_to "View created events", url = '/users/sign_in' %>
            <% else %>
              <%= link_to "View created events", url = '/events/created_events' %>
            <% end %>
          </div>    
          <div class="panel_link">
            <% if current_user.nil? %>
              <%= link_to "View registered events", url = '/users/sign_in' %>
            <% else %>
              <%= link_to "View registered events", url = '/events/attended_events' %>
            <% end %>
          </div>
          <div class="panel_link">
            <% if current_user.nil? %>
              <%= link_to "Create event", url = '/users/sign_in' %>
            <% else %>
              <%= link_to "Create event", url = '/events/new' %>
            <% end %>
          </div>
        </div>
      </div>
          <div class="media_links"> 
            <strong>
              Created by <p> MacDaniel Maisel </p>
            </strong>
            <div>
            <strong>
              <div> 
                <a href="https://github.com/linkonsat">Github |</a> 
                <a href="https://twitter.com/MaiselMacdanie1"> Twitter | </a>
                <a href="https://www.linkedin.com/in/macdaniel-maisel/">Linkedln </a>
              </div>
            </strong>
          </div>
        </div>
      </div>
    </div>